body{ 
	padding-bottom: 30px;
	padding-top: 70px; 
}

.titulo-sec{
	color: white; 
	background-color: black;
	border: 1px solid silver;
	padding: 2vh;
}

.titulo-sec a{
	margin-top: -0.6vh;
	margin-right: 0.5vw;
}

.tema-foro{
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	min-height: 4vh;
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	padding-left: 1vw;
}

.tema-foro img{
	display: inline-block;
	float: left;
	width: 5vw;
	padding: 1vh;
}

.cuerpost{
	padding-top: 2vh;
	padding-left: 3vh;
	border-left: 0.5px solid silver;
	min-height: 15vh;
	padding-bottom: 0vh;
}

.post{
	background-color: rgba(210, 139, 26, 0.4);
}

.comentario{
	background-color: rgba(20, 32, 168, 0.4);
}

hr{
	margin: 1px !important;
}